exportPattern("^[^x]")
importFrom(coda, HPDinterval)
importFrom(coda, as.mcmc)
importFrom(MASS, mvrnorm)
importFrom(rstan, stan)
importFrom(rstan, extract)
importFrom(rstan, sflist2stanfit)
importFrom(rstan, summary)
importClassesFrom(rstan , stanfit)
importFrom(parallel, mclapply)
importFrom(parallel, parLapply)