exportPattern("^[^x]")
importFrom(graphics, "plot")
importFrom(stats, "coef")
importFrom(stats, "vcov")
importFrom(stats, "nobs")
importFrom(stats, "logLik")
importFrom(stats, "deviance")
importFrom(stats, "AIC")
importFrom(graphics, "pairs")
importFrom(coda, HPDinterval)
importFrom(coda, as.mcmc)
importFrom(MASS, mvrnorm)
importFrom(rstan, stan)
importFrom(rstan, sampling)
#importFrom(rstan, stan_model)
importFrom(rstan, extract)
importFrom(rstan, sflist2stanfit)
importFrom(rstan, summary)
importClassesFrom(rstan)
#importClassesFrom(rstan , stanfit)
#importClassesFrom(rstan , stanmodel)
importFrom(parallel, mclapply)
importFrom(parallel, parLapply)
importFrom(parallel, makeCluster)
importFrom(parallel, clusterExport)
importFrom(mvtnorm, dmvnorm)
importFrom(mvtnorm, rmvnorm)
importFrom(loo, loo)
importFrom(shape, Arrows)
importClassesFrom(cmdstanr)
export(dmvnorm)
export(rmvnorm)
exportClasses(map2stan)
exportClasses(map)
exportClasses(ulam)